@model ProductDetailViewModel

@{
	double price = (Model.Product.SellPrice - ((@Model.Product.SellPrice * @Model.Product.DiscountPrice) / 100));
	int productCount = Model.Product.ProdutCount;
}

<section class="flat-breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumbs">
					<li class="trail-item">
						<a asp-action="index" asp-controller="home" title="">Home</a>
						<span><img src="images/icons/arrow-right.png" alt=""></span>
					</li>
					@*<li class="trail-item">
					<a href="#" title="">Shop</a>
					<span><img src="images/icons/arrow-right.png" alt=""></span>
					</li>*@
					<li class="trail-end">
						<a href="#" title="">@Model.Product.Category.Name</a>
					</li>
				</ul><!-- /.breacrumbs -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-breadcrumb -->

<section class="flat-product-detail">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="/uploads/products/@Model.Product.Images.Where(x=>x.IsPoster == true).FirstOrDefault()?.Image">
							<a href='#' id="zoom" class='zoom'><img src="~/uploads/products/@Model.Product.Images.Where(x=>x.IsPoster == true).FirstOrDefault()?.Image" alt='' width='400' height='300' /></a>
							@if (Model.Product.IsNew == true)
							{
								<span>NEW</span>
							}

						</li>
						@foreach (var item in Model.Product.Images.Where(x => x.IsPoster == false).ToList())
						{
							<li data-thumb="/uploads/products/@item.Image">
								<a href='#' id="zoom1" class='zoom'><img src="~/uploads/products/@item.Image" alt='' width='400' height='300' /></a>
							</li>
						}

					</ul><!-- /.slides -->
				</div><!-- /.flexslider -->
			</div><!-- /.col-md-6 -->
			<div class="col-md-6">
				<div class="product-detail">
					<div class="header-detail">
						<h4 class="name">@Model.Product.Name</h4>
						<div class="category">
							@Model.Product.Category.Name
						</div>

						<div class="reviewed">
							@*<div class="review">
								<div class="queue">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
								<div class="text">
									<span>3 Reviews</span>
									<span class="add-review">Add Your Review</span>
								</div>
							</div><!-- /.review -->*@
							<div class="status-product">
								@if(productCount > 0)
								{
									<span>In stock</span>
								}
								else
								{
									<span>Not stock</span>
								}

							</div>
						</div><!-- /.reviewed -->
					</div><!-- /.header-detail -->
					<div class="content-detail">
						<div class="price">
							<div class="regular">
								$@Model.Product.SellPrice.ToString("0.00")
							</div>
							<div class="sale">
								$@price.ToString("0.00")
							</div>
						</div>
						<div class="info-text">
							@Model.Product.Description
						</div>
						@*<div class="product-id">
							SKU: <span class="id">FW511948218</span>
						</div>*@
					</div><!-- /.content-detail -->
					<div class="footer-detail">
						@*<div class="quanlity-box">
							<div class="colors">
								<select name="color">
									<option value="">Select Color</option>
									<option value="">Black</option>
									<option value="">Red</option>
									<option value="">White</option>
								</select>
							</div>
							<div class="quanlity">
								<span class="btn-down"></span>
								<input type="number" name="number" value="" min="1" max="100" placeholder="Quanlity">
								<span class="btn-up"></span>
							</div>
						</div><!-- /.quanlity-box -->*@
						<div class="box-cart style2">
							<div class="btn-add-cart">
								<a class="basketaddbtn" asp-action="AddToBasket" asp-controller="home" asp-route-id="@Model.Product.Id" title=""><img src="images/icons/add-cart.png" alt="">Add to Cart</a>
							</div>
							<div class="compare-wishlist">
								@*<a href="compare.html" class="compare" title=""><img src="~/assets/images/icons/compare.png" alt="">Compare</a>*@
								<a asp-action="addtofavourites" asp-controller="product" asp-route-id="@Model.Product.Id" class="wishlist addtofavourite" title=""><img src="~/assets/images/icons/wishlist.png" alt="">Wishlist</a>
							</div>
						</div><!-- /.box-cart -->
						<div class="social-single">
							<span>SHARE</span>
							<ul class="social-list style2">
								<li>
									<a href="https://www.google.com/?hl=tr" title="">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.google.com/?hl=tr" title="">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="https://www.google.com/?hl=tr" title="">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								
								<li>
									<a href="https://www.google.com/?hl=tr" title="">
										<i class="fa fa-google" aria-hidden="true"></i>
									</a>
								</li>
							</ul><!-- /.social-list -->
						</div><!-- /.social-single -->
					</div><!-- /.footer-detail -->
				</div><!-- /.product-detail -->
			</div><!-- /.col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-product-detail -->

<section class="flat-product-content">
	<ul class="product-detail-bar">

		<li>Tecnical Specs</li>

	</ul><!-- /.product-detail-bar -->
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="tecnical-specs">
					<h4 class="name">
						@Model.Product.Name
					</h4>
					<table>
						<tbody>
							@foreach (var item in Model.keyValuePairs)
							{
								<tr>
									<td style="margin-right:100px">@item.Key</td>
									<td>@item.Value</td>
								</tr>
							}
							
							
						</tbody>
					</table><!-- /.table -->
				</div><!-- /.tecnical-specs -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->

	</div><!-- /.container -->
</section><!-- /.flat-product-content -->

<section class="flat-imagebox style4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="flat-row-title">
					<h3>Recent Products</h3>
				</div>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-md-12">
				<div class="owl-carousel-3">
					@foreach (var item in Model.RelatedProduct)	
					{
						<div class="imagebox style4">
							<div class="box-image">
								<a href="#" title="">
									<img src="~/uploads/products/@item.Images.Where(x=>x.IsPoster == true).FirstOrDefault()?.Image" alt="">
								</a>
							</div><!-- /.box-image -->
							<div class="box-content">
								<div class="cat-name">
									<a title="">@item.Category.Name</a>
								</div>
								<div class="product-name">
									<a asp-action="detail" asp-controller="product" asp-route-id="@item.Id" title="">@item.Name<br />G2356</a>
								</div>
								<div class="price">
									<span class="sale">$@(Model.Product.SellPrice - ((@Model.Product.SellPrice * @Model.Product.DiscountPrice) / 100))</span>
									<span class="regular">$@item.SellPrice</span>
								</div>
							</div><!-- /.box-content -->
						</div>

						<!-- /.imagebox style4 -->
					}
					
					
				</div><!-- /.owl-carousel-3 -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.flat-imagebox style4 -->
