@inject TechnoStore.Services.LayoutServis service

@model PaginatedList<AppUser>

@{
	int count = (Model.Page - 1) * 10;


}


<div class="d-flex justify-content-between container-fluid" style="width:200px;margin-left:auto">
	<h3>Users</h3>
	<div class="col-auto">
		@*<a asp-action="create" asp-controller="banner" class="btn btn-soft-success"><i class="ri-add-circle-line align-middle me-1"></i> Add Banner</a>*@
	</div>
</div>
<form method="get" asp-controller="users" asp-action="index">
	<div class="input-group" style="width:400px;margin-left:850px">
		<input value="@ViewData["Searach"]" type="text" name="searchString" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
	<button class="btn btn-outline-success" type="submit" id="button-addon2">Search</button>
</div>
</form>

<!-- Tables Without Borders -->
<table class="table table-borderless table-nowrap mt-4">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Fullname</th>
			<th scope="col">Email</th>
			<th scope="col">Status</th>
			<th scope="col">Role</th>
			<th scope="col">Action</th>
			@*<th scope="col"></th>*@
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			count++;
			<tr>
				<th scope="row">@count</th>
				<td>@item.Fullname </td>
				<td>@item.Email</td>

				@if (item.IsBanned == true)
				{
					<td><span class="badge badge-soft-danger">Banned</span></td>
				}
				else
				{
					<td><span class="badge badge-soft-success">Active</span></td>
				}
				<td>@service.GetRoleForUserId(item.Id)</td>
				<td>
					<div class="hstack gap-3 fs-15">
						<a asp-action="detail" asp-controller="users" asp-route-id="@item.Id" class="link-primary"><i class="ri-settings-4-line"></i></a>
						<a asp-action="delete" asp-controller="users" asp-route-id="@item.Id" class="link-danger delete-item-btn"><i class="ri-delete-bin-5-line"></i></a>
					</div>
				</td>
			</tr>
		}


	</tbody>
</table>
@if (Model.Count > 10)
{
	<div style="margin-left:auto">
		<div>
			<form method="get">
				<nav aria-label="...">
					<ul class="pagination">
						@if (Model.HasPrevious)
						{
							<li class="page-item disabled">
								<a class="page-link" asp-action="index" asp-controller="users" asp-route-page="@(Model.Page-1)">Previous</a>
							</li>
						}
						else
						{
							<li class="page-item disabled">
								<a class="page-link disable" asp-action="index" asp-controller="users" asp-route-page="@(Model.Page-1)">Previous</a>
							</li>
						}

						@for (int i = 1; i <= Model.TotalPage; i++)
						{
							<li class="page-item @(Model.Page == i ? "active":" ")" aria-current="page">
								<a class="page-link" asp-action="index" asp-controller="users" asp-route-page="@i">@i</a>
							</li>
						}
						@if (Model.HasNext)
						{
							<li class="page-item">
								<a class="page-link" asp-action="index" asp-controller="users" asp-route-page="@(Model.Page+1)">Next</a>
							</li>
						}
						else
						{
							<li class="page-item">
								<a class="page-link disabled" asp-action="index" asp-controller="users" asp-route-page="@(Model.Page+1)">Next</a>
							</li>
						}
					</ul>
				</nav>
			</form>
		</div>
	</div>
}
















