@model List<Contact>

@{
    int count = 0;
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Modal Data Datatables</h5>
            </div>
            <div class="card-body">
                <table id="model-datatables" class="table table-bordered nowrap table-striped align-middle" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Fullname</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Create Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Fullname</td>
                                @if(item.AppUser != null)
                                {
                                    <td>@item.AppUser.UserName</td>
                                }else{
                                    <td>Unknown</td>
                                }
                                <td>@item.Email</td>
                                <td>@item.Subject</td>
                                <td>@item.CreateDate</td>
                                @if(item.Viewed){
                                    <td><span class="badge badge-soft-success">Viewed</span></td>
                                }
                                else
                                {
                                    <td><span class="badge bg-danger">NotViewed</span></td>
                                }
                                <td>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill align-middle"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a asp-action="contactsdetail" asp-controller="contactservices" asp-route-id="@item.Id" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a></li>
                                            @*<li><a class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a></li>*@
                                            <li>
                                                <a asp-action="contactdelete" asp-controller="contactservices" asp-route-id="@item.Id" class="dropdown-item remove-item-btn delete-item-btn">
                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!--end row-->